{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}

<div class= "flex flex-col justify-center items-center h-screen bg-violet-300">
    
    <h1 class= "my-8">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <div class= "my-2">
            <p>Username: </p>
            <input type="text" name="username" placeholder="Username" class="form-control">
        </div>
                
        <div class= "my-2">
            <p>Password: </p>
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>

        <div class= "hover:bg-violet-800 justify-center">
            <input class="btn login_btn items-center" type="submit" value="Login">
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    <div class="flex">Don't have an account yet?<a href="{% url 'main:register' %}"> Register Now</a></div>
</div>

{% endblock content %}