{% load static %}

{% block content %}
    <div style="text-align: center; background-color: #0369a1; padding:20px;">
        <h1>Future Fashion</h1>
        <p> Halo {{user.username}}. Welcome Back! </p> 
        <img src= "{% static 'images/fashion.jpg' %}" alt="Fashion" style="width: 200px;">
        <br/>
        <p style= "font-weight: bold; font-size: 21px;">Item yang tersedia<p>
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" style= "background-color: #d9f99d;">
            <a class="navbar-brand" href="#">Shopping</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link" href="{% url 'main:create_item' %}">Add New Item</a>
                <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
                </div>
            </div>
            </div>
        </nav>

        <div style= "display: grid; grid-gap: 5px; grid-template-columns: repeat(5,1fr); align-items: center;" id="container">
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>
        
        <a href="{% url 'main:create_item' %}">
            <button>
                Add New Item
            </button>
        </a>

        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>

        <h5>Sesi terakhir login: {{ last_login }}</h5>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name"></input>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="col-form-label">Price:</label>
                                <input type="number" class="form-control" id="price" name="price"></input>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                    </div>
                </div>
            </div>
        </div>

        <h5>Name: </h5>
        <p>{{ name }}<p>
        <h5>Class: </h5>
        <p>{{ class }}<p>

    </div>
    <script>
        var data = ["#d8b4fe", "#e879f9", "#ddd6fe", "#c7d2fe", "#fecdd3", "#fbcfe8", "#bfdbfe"]; 
        function warnaRandom(){
            var index = Math.floor(Math.random() * data.length);
            var warna = data[index];
            return warna;
        }

        async function getProducts(){
            return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
        }

        async function refreshProducts(){
            document.getElementById("container").innerHTML = ""
            const products = await getProducts()
            let htmlString = ``
            products.forEach((item) => {
                htmlString += `
                <div style="width: 200px; border: 1px solid #000; padding: 4px; background-color: #bae6fd;">
                    <p>${ item.name }</p>
                    <p>Price: ${ item.price } </p>
                    <div style= "display: inline">
                        <a href="{% url 'main:add_amount' ${item.pk} %}">
                            <button style = "border-radius: 10px">
                                +
                            </button>
                        </a>
                        <p>Amount: ${ item.amount }</p>
                        <a href="{% url 'main:reduce_amount' ${item.pk} %}">
                            <button style= "border-radius: 10px">
                                -
                            </button>
                        </a>
                    </div>
                    <p>${ item.description }</p>
                    <div style= "display: inline">
                        <a href="{% url 'main:edit_item' ${item.pk} %}">
                            <button>
                                Edit
                            </button>
                        </a>
                        <a href="{% url 'main:delete_item' ${item.pk} %}">
                            <button>
                                Delete
                            </button>
                        </a>
                    </div>
                </div>`
            })
            
            document.getElementById("container").innerHTML = htmlString
        }
    
        refreshProducts()

        function addProduct() {
            fetch("{% url 'main:create_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshProducts)
    
            document.getElementById("form").reset()
            return false
        }

        document.getElementById("button_add").onclick = addProduct

    </script>

{% endblock content %}